  @font-face {
      font-family: Manrope;
      src: url(../../fonts/Roboto-Regular.ttf)
  }



  @font-face {
      font-family: Poppins;
      src: url(../../fonts/Poppins-Regular.ttf)
  }


  body {
      background-color: black;
  }


  .logo {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
  }

  .header {
      justify-content: space-between;
      align-items: center;
  }


  .menu {

      list-style: none;
      padding: 0;
      padding-left: 10px;
      text-align: center;

  }

  .menu li {
      display: inline-block;
      margin-right: 20px;
      list-style: none;
      padding: 0;
      text-align: center;

      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
  }

  .menu li:last-child {
      margin-right: 0;
  }

  .menu a {
      color: #8B8E99;
      text-decoration: none;
  }


  .custom-navbar-toggler span {
      display: block;
      width: 10px;
      height: 2px;
      background-color: white;
      margin-bottom: 2q;
      transition: background-color 0.3s;

  }


  @media screen and (min-width: 768) {

      .custom-navbar-toggler span {
          display: none;
      }
  }

  .dropdown i::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #8B8E99;
      background: transparent;
      margin-left: 5px;
  }

  .dropdown-menu {
      display: none;
      position: absolute !important;
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
  }

  .dropdown-menu li {
      padding-bottom: 2px;
      padding-left: 10px;
  }

  .dropdown-menu li a {
      color: #8B8E99;
      text-decoration: none;
  }

  .ellipse-d {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: blue;
      color: white;
      z-index: 2;
  }

  @media screen and (max-width: 768px) {
      .menu {
          display: none;
      }

  }

  .navbar-nav li {
      color: #8B8E99;
      padding-left: 10px;
  }

  /*--------------------main-part -----*/

  .title1 p {
      font-family: Poppins;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
  }

  .text {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #8B8E99;
  }

  ::placeholder {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #8B8E99;
  }

  input {
      position: relative;
      width: 443px;
      height: 60px;
      border-radius: 15px;
      padding-left: 48px;

      width: 100%;
      padding-left: 40px;
  }

  .rectangle {
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 45px;
      background: #3858D6;
      border-radius: 8px;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: #FFFFFF;
      outline: none;

      right: 10px;
      top: 50%;
      transform: translateY(-50%);

  }

  /* ------------------*/

  .input-div {
      position: relative;
  }

  .input-icon {
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
  }

  @media screen and (max-width: 1440px) {

      .aaa img {
          padding-left: 40px;
      }
  }

  @media screen and (max-width: 768px) {

      .title1 p {
          font-size: 40px;
          line-height: 48px;
      }
  }

  @media screen and (max-width: 768px) {

      .rectangle {
          width: 78px;
          font-size: 12px;
          height: 40px;
      }

      ::placeholder {
          font-size: 12px;
      }


  }



  /*------------------*/


  .textApple {
      font-family: Inter;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
      color: #1E1D1D;
  }

  .textContent {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #8B8E99;
  }


  /*----------      product-div-----------*/


  .blueText {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      color: #3858D6;
  }

  .blackText {
      font-family: Inter;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: center;
      color: #1E1D1D;
  }

  .btn-1 {
      width: 196px;
      height: 46px;
      background: #3858D6;
      border-radius: 10px;

      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      color: #FFFFFF;
  }

  .Ham {
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;
      color: #1E1D1D;
  }

  .Hamtext {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #8B8E99;
  }


  /*---------------  carousel--------------------*/




  /* -------------end  carousel  ---------------*/


  /* ---------------------*/

  .Subscribe {
      font-family: Inter;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
      color: #1E1D1D;
  }

  .get {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #8B8E99;
  }





  /* -----------------footer---------------*/
  .foot {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;

  }